@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --background: #eee2dc;
  --color-1: #123c69;
  --color-2: #ac3b61;
  --color-3: #edc7b7;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s linear;
  line-height: 1.5;
}
::selection {
  background: var(--background);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: "poppins", sans-serif;
}
section {
  padding: 1rem 5%;
  min-height: 100vh;
  padding-top: 8vh;
}
.heading {
  text-align: center;
  padding: 2rem 0rem;
  font-size: 5rem;
  color: var(--main-color);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  background: var(--color-1);
  color: var(--color-3);
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  background-color: var(--color-2);
}
@media (max-width: 400px) {
  html {
    font-size: 50%;
  }

  .services .box-container .box {
    width: 100%;
  }

  .portfolio .image-container .box {
    width: 100%;
  }

  .blog .box-container .box {
    width: 100%;
  }

  .contact .row form .inputBox input {
    width: 100%;
  }
}
